@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: 'Jost', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul, li {
  text-decoration: none;
  list-style: none;
}

.btn {
  width: 180px;
  height: 80px;
  text-transform: uppercase;
  background-color: #ffff;
  font-size: 18px;
  font-weight: 500;
  color: black;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin-top: 30px;
  cursor: pointer;
}

.btn:hover {
  background-color: #e6a596;
  color: white;
}

form, input, button {
  outline: none;
  border: none;
}

.page-section {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.nav-item {
  display: inline-block;
  color: #000;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
}

.nav-item::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background: #e6a596;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.nav-item:hover::after {
  width: 100%;
  -webkit-transition: width .3s;
  transition: width .3s;
}

@media (max-width: 950px) {
  .page-section {
    width: 85%;
  }
}

@media (max-width: 700px) {
  .page-section {
    width: 100%;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 15vh;
}

header .header-container {
  width: 75%;
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-container .header-logo {
  padding: 5px;
}

header .header-container .header-logo img {
  width: 250px;
}

header .header-container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .header-container nav li {
  padding: 10px;
  margin: 0 8px;
  display: inline;
  font-size: 16px;
}

header .header-container nav .burger {
  display: none;
  cursor: pointer;
}

header .header-container nav .mobile-nav {
  position: absolute;
  background-color: black;
  opacity: 0.9;
  width: 100vw;
  height: 0;
  top: 15vh;
  left: 0;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
  overflow: hidden;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
}

header .header-container nav .mobile-nav a {
  color: white;
}

header .header-container nav .show {
  height: 30vh;
  display: none;
  color: white;
}

header .header-container nav .show p {
  color: white;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media (max-width: 950px) {
  header .header-container {
    width: 85%;
  }
}

@media (max-width: 700px) {
  header .header-container {
    width: 90%;
  }
  header .header-container .header-logo img {
    width: 200px;
  }
  header .header-container nav ul {
    display: none;
  }
  header .header-container nav .burger {
    display: block;
  }
  header .header-container nav .mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header-container nav .show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero {
  width: 100%;
  height: 700px;
  background-color: #e7816b;
  color: white;
  border-radius: 20px;
  background-image: url("../../assets/home/desktop/bg-pattern-hero-home.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  display: inline-block;
}

.hero .hero-text {
  float: left;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
  margin-left: 5%;
}

.hero .hero-text .hero-heading {
  font-size: 50px;
  font-weight: 500;
  line-height: 50px;
}

.hero .hero-text .hero-p {
  margin: 30px 0;
}

.hero .hero-image {
  width: 50%;
  height: 100%;
  float: right;
  overflow: hidden;
}

@media (max-width: 950px) {
  .hero {
    height: 900px;
    overflow: hidden;
  }
  .hero .hero-text {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    float: none;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: auto;
  }
  .hero .btn {
    margin: 0 auto;
  }
  .hero .hero-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    float: none;
    height: 75%;
  }
}

.services {
  width: 100%;
  height: 700px;
  border-radius: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "web app" "web design";
  gap: 50px;
}

.services .service-item {
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.services .service-item .service-title {
  font-size: 50px;
  text-align: center;
  font-weight: 700;
  z-index: 999;
}

.services .service-item .view-service {
  color: white;
  margin: 10px 0;
  z-index: 999;
}

.services .service-item .item-overlay {
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  background-color: #e7816b;
  opacity: 0;
}

.services .web-design {
  background-image: url("../../assets/home/desktop/image-web-design-large.jpg");
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: web;
}

.services .app {
  background-image: url("../../assets/home/desktop/image-app-design.jpg");
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: app;
}

.services .design {
  background-image: url("../../assets/home/desktop/image-graphic-design.jpg");
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: design;
}

.service-item:hover .item-overlay {
  opacity: 0.6;
}

@media (max-width: 950px) {
  .services {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "web" "app" "design";
    -webkit-column-gap: 0px;
            column-gap: 0px;
    row-gap: 15px;
  }
}

@media (max-width: 700px) {
  .services {
    height: auto;
  }
  .service-item {
    width: 70%;
    height: 300px;
    margin: 0 auto;
  }
  .service-title {
    font-size: 38px;
    text-align: center;
  }
}

.home-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-position: bottom right;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-about .about-item {
  width: 30%;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 0;
}

.home-about .about-item .about-item-image {
  background-image: url("./assets/home/desktop/bg-pattern-hero-home.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.home-about .about-item .about-heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 15px;
  letter-spacing: 5px;
}

.home-about .about-item .about-texts {
  font-weight: 400;
}

@media (max-width: 950px) {
  .home-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home-about .about-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    height: 250px;
  }
  .home-about .about-item .about-text-area {
    width: 60%;
  }
}

@media (max-width: 700px) {
  .home-about .about-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 30px auto;
    height: auto;
  }
  .home-about .about-item .about-text-area {
    width: 70%;
  }
}

footer {
  width: 100%;
  height: 55vh;
  background-color: #1d1d1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-container {
  color: white;
  height: 65%;
  margin: 0;
}

footer .footer-container .footer-container-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-container .footer-container-top .footer-logo {
  padding: 5px;
}

footer .footer-container .footer-container-top .footer-logo img {
  width: 250px;
}

footer .footer-container .footer-container-top .footer-nav a {
  color: white;
  padding: 5px;
  margin: 0 5px;
  font-size: 16px;
}

footer .footer-container .footer-container-bottom {
  border-top: 1px grey solid;
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-container .footer-container-bottom .footer-bottom-item {
  margin-top: 20px;
  width: 20%;
}

footer .footer-container .footer-container-bottom .footer-bottom-item p {
  width: 100%;
  margin: 10px 0;
}

footer .footer-container .footer-container-bottom .footer-socials {
  width: 35%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer .footer-container .footer-container-bottom .footer-socials img {
  padding: 10px;
  width: 55px;
}

@media (max-width: 700px) {
  footer {
    height: auto;
  }
  footer .footer-container .footer-container-top {
    margin-top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-container .footer-container-top .footer-logo {
    border-bottom: 1px solid grey;
  }
  footer .footer-container .footer-container-top .footer-nav {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-container .footer-container-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
  }
  footer .footer-container .footer-container-bottom .footer-bottom-item {
    width: 100%;
  }
  footer .footer-container .footer-container-bottom .footer-bottom-item p {
    margin: 25px 0;
    width: 100%;
    text-align: center;
  }
  footer .footer-container .footer-container-bottom .footer-socials {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 40px 0;
  }
}
/*# sourceMappingURL=main.css.map */