@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Jost', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul, li {
  text-decoration: none;
  list-style: none;
}

.btn {
  margin-bottom: 100px;
  width: 180px;
  height: 80px;
  text-transform: uppercase;
  background-color: #ffff;
  font-size: 18px;
  font-weight: 500;
  color: black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 30px;
  cursor: pointer;
}

.btn:hover {
  background-color: #e6a596;
  color: white;
}

form, input, button {
  outline: none;
  border: none;
}

.page-section {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 100px;
  max-width: 1600px;
}

.nav-item {
  display: inline-block;
  color: #000;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
}

.nav-item::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background: #e6a596;
  transition: width .3s;
}

.nav-item:hover::after {
  width: 100%;
  transition: width .3s;
}

@media (max-width: 950px) {
  .page-section {
    width: 85%;
  }
}

@media (max-width: 700px) {
  .page-section {
    width: 100%;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15vh;
}

header .header-container {
  width: 75%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .header-container .header-logo {
  padding: 5px;
}

header .header-container .header-logo img {
  width: 250px;
}

header .header-container nav {
  display: flex;
  flex-direction: row;
}

header .header-container nav li {
  padding: 0px;
  margin: 0 8px;
  display: inline;
  font-size: 16px;
}

header .header-container nav .burger {
  display: none;
  cursor: pointer;
}

header .header-container nav .mobile-nav {
  position: absolute;
  background-color: black;
  opacity: 0.9;
  width: 100vw;
  height: 0;
  top: 15vh;
  left: 0;
  transition: 1s ease-in;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

header .header-container nav .mobile-nav a {
  color: white;
}

header .header-container nav .show {
  height: 30vh;
  display: none;
  color: white;
}

header .header-container nav .show p {
  color: white;
}

.bar1, .bar2, .bar3 {
  height: 2px;
  width: 25px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-4px, 2px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

@media (max-width: 950px) {
  header .header-container {
    width: 85%;
  }
  header .header-container .header-logo img {
    width: 150px;
  }
  header .header-container nav ul li {
    letter-spacing: 1px;
    margin: 0 4px;
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  header .header-container {
    width: 90%;
  }
  header .header-container .header-logo img {
    width: 200px;
  }
  header .header-container nav ul {
    display: none;
  }
  header .header-container nav .burger {
    display: block;
  }
  header .header-container nav .mobile-nav {
    display: flex;
  }
  header .header-container nav .show {
    display: flex;
  }
}

.hero {
  width: 100%;
  height: 700px;
  background-color: #e7816b;
  color: white;
  border-radius: 20px;
  background-image: url("../assets/home/desktop/bg-pattern-hero-home.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  display: inline-block;
}

.hero .hero-text {
  float: left;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 45%;
  margin-left: 5%;
}

.hero .hero-text .hero-heading {
  font-size: 50px;
  font-weight: 500;
  line-height: 50px;
}

.hero .hero-text .hero-p {
  margin: 30px 0;
}

.hero .hero-image {
  width: 50%;
  height: 100%;
  float: right;
  overflow: hidden;
}

@media (max-width: 950px) {
  .hero {
    height: 900px;
    overflow: hidden;
  }
  .hero .hero-text {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    float: none;
    justify-content: flex-start;
    height: auto;
  }
  .hero .btn {
    margin: 0 auto;
  }
  .hero .hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    float: none;
    height: 75%;
  }
}

.services {
  width: 100%;
  height: 700px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "web app" "web design";
  gap: 50px;
}

.services .service-item {
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.services .service-item .service-title {
  font-size: 50px;
  text-align: center;
  font-weight: 700;
  z-index: 999;
}

.services .service-item .view-service {
  color: white;
  margin: 10px 0;
  z-index: 999;
}

.services .service-item .item-overlay {
  width: 100%;
  top: 0;
  left: 0;
  transition: .5s ease-in-out;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  background-color: #e7816b;
  opacity: 0;
}

.services .web-design {
  background-image: url("../assets/home/desktop/image-web-design-large.jpg");
  grid-area: web;
}

.services .app {
  background-image: url("../assets/home/desktop/image-app-design.jpg");
  grid-area: app;
}

.services .design {
  background-image: url("../assets/home/desktop/image-graphic-design.jpg");
  grid-area: design;
}

.service-item:hover .item-overlay {
  opacity: 0.6;
}

@media (max-width: 950px) {
  .services {
    grid-template-columns: 1fr;
    grid-template-areas: "web" "app" "design";
    column-gap: 0px;
    row-gap: 15px;
  }
}

@media (max-width: 700px) {
  .services {
    height: auto;
  }
  .service-item {
    width: 70%;
    height: 300px;
    margin: 0 auto;
  }
  .service-title {
    font-size: 38px;
    text-align: center;
  }
}

.home-about {
  display: flex;
  background-repeat: no-repeat;
  background-position: bottom right;
  justify-content: space-between;
  margin-bottom: 200px;
}

.home-about .about-item {
  width: 30%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px 0;
}

.home-about .about-item .about-item-image {
  background-image: url("./assets/home/desktop/bg-pattern-hero-home.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.home-about .about-item .about-heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 15px;
  letter-spacing: 5px;
}

.home-about .about-item .about-texts {
  font-weight: 400;
}

@media (max-width: 950px) {
  .home-about {
    flex-direction: column;
  }
  .home-about .about-item {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    height: 250px;
  }
  .home-about .about-item .about-text-area {
    width: 60%;
  }
}

@media (max-width: 700px) {
  .home-about .about-item {
    flex-direction: column;
    justify-content: space-between;
    margin: 30px auto;
    height: auto;
  }
  .home-about .about-item .about-text-area {
    width: 70%;
  }
}

.get-in-touch {
  position: absolute;
  background-color: #E7816B;
  background-image: url("../assets/about/desktop/bg-pattern-hero-about-desktop.svg");
  background-size: 230px;
  background-position: top center;
  width: 75%;
  height: 300px;
  border-radius: 20px;
  top: -150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.get-in-touch .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 90%;
}

.get-in-touch .container .container-texts {
  width: 50%;
}

.get-in-touch .container .container-texts h3 {
  width: 80%;
  font-size: 40px;
  color: white;
}

.get-in-touch .container .container-texts p {
  color: white;
}

.get-in-touch .container .btn {
  height: 60px;
  margin: 0 0;
}

@media (max-width: 1050px) {
  .get-in-touch {
    height: auto;
    max-height: 300px;
  }
  .get-in-touch .container {
    flex-direction: column;
    margin: 20px 0;
  }
  .get-in-touch .container .container-texts {
    width: 85%;
  }
  .get-in-touch .container .container-texts p {
    width: 100%;
  }
  .get-in-touch .container .container-texts h3 {
    width: 100%;
  }
  .get-in-touch .container .btn {
    margin: 30px 0;
  }
}

@media (max-width: 700px) {
  .page-section {
    width: 100%;
  }
}

footer {
  position: relative;
  width: 100%;
  min-height: 65vh;
  background-color: #1d1d1f;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

footer .footer-container {
  color: white;
  height: 65%;
  margin: 0;
}

footer .footer-container .footer-container-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .footer-container .footer-container-top .footer-logo {
  padding: 5px;
}

footer .footer-container .footer-container-top .footer-logo img {
  width: 250px;
}

footer .footer-container .footer-container-top .footer-nav a {
  color: white;
  padding: 5px;
  margin: 0 5px;
  font-size: 16px;
}

footer .footer-container .footer-container-bottom {
  border-top: 1px grey solid;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .footer-container .footer-container-bottom .footer-bottom-item {
  margin-top: 20px;
  width: 20%;
}

footer .footer-container .footer-container-bottom .footer-bottom-item p {
  width: 100%;
  margin: 10px 0;
}

footer .footer-container .footer-container-bottom .footer-socials {
  width: 35%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

footer .footer-container .footer-container-bottom .footer-socials img {
  padding: 10px;
  width: 55px;
}

@media (max-width: 700px) {
  footer {
    position: relative;
    height: auto;
  }
  footer .footer-container .footer-container-top {
    margin-top: 300px;
    flex-direction: column;
  }
  footer .footer-container .footer-container-top .footer-logo {
    border-bottom: 1px solid grey;
  }
  footer .footer-container .footer-container-top .footer-nav {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  footer .footer-container .footer-container-top .footer-nav a {
    margin: 0;
    text-align: center;
  }
  footer .footer-container .footer-container-bottom {
    flex-direction: column;
    border: none;
  }
  footer .footer-container .footer-container-bottom .footer-bottom-item {
    width: 100%;
  }
  footer .footer-container .footer-container-bottom .footer-bottom-item p {
    margin: 25px 0;
    width: 100%;
    text-align: center;
  }
  footer .footer-container .footer-container-bottom .footer-socials {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
  }
}

.about-us-card {
  width: 100%;
  height: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-us-card .about-texts {
  font-weight: 400;
  width: 40%;
  margin: 0 auto;
  color: white;
}

.about-us-card .about-texts h3 {
  font-size: 50px;
  font-weight: 500;
  line-height: 50px;
}

.about-us-card .about-texts p {
  margin: 30px 0;
  line-height: 30px;
}

.about-us {
  background-image: url("../assets/about/desktop/bg-pattern-hero-about-desktop.svg");
  background-position: left top;
  background-repeat: no-repeat;
  background-color: #e7816b;
  border-radius: 20px;
  width: 100%;
}

.about-us .about-images {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 100%;
  width: 40%;
  background-image: url("../assets/about/desktop/image-about-hero.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}

.talent-card {
  border-radius: 20px;
  width: 100%;
  background-color: #fdf3f0;
  flex-direction: row-reverse;
  height: 650px;
}

.talent-card .about-texts {
  color: #333136;
}

.talent-card .about-texts h3 {
  color: #e7816b;
}

.talent-card .talent-images {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 100%;
  width: 40%;
  background-image: url("../assets/about/desktop/image-world-class-talent.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}

.talent-card .image-real {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}

.about-locations {
  margin: 0;
}

.about-locations .btn {
  background-color: #e7816b;
  height: 60px;
  margin: 0;
  color: white;
}

.about-locations .btn:hover {
  opacity: 0.7;
}

.real-card {
  margin-bottom: 250px;
  flex-direction: row;
  background-image: url("../assets/about/desktop/bg-pattern-hero-about-desktop.svg");
  background-position: bottom;
  background-size: 70%;
}

.real-card .talent-images {
  background-image: url("../assets/about/desktop/image-real-deal.jpg");
}

@media (max-width: 950px) {
  .about-footer {
    margin-top: 200px;
  }
  .about-us-section {
    width: 100%;
    border-radius: 0;
    height: auto;
    margin: 0 0;
  }
  .about-us-section .about-us-card {
    height: 700px;
    border-radius: 0;
    flex-direction: column-reverse;
  }
  .about-us-section .about-us-card .about-texts {
    width: 75%;
    text-align: center;
  }
  .about-us-section .about-us-card .about-images {
    width: 100%;
    margin-bottom: 40px;
    border-radius: 0;
  }
  .about-us-section .about-us-card .talent-images {
    width: 100%;
    height: 50%;
    margin-bottom: 40px;
    border-radius: 0;
  }
}

@media (max-width: 700px) {
  .about-us-section {
    width: 100%;
    border-radius: 0;
    height: auto;
    margin: 0 0;
  }
  .about-us-section .about-us-card {
    height: auto;
  }
  .about-us-section .about-us-card .about-images {
    height: 500px;
  }
  .about-us-section .about-us-card .talent-images {
    height: 400px;
  }
  .about-us-section .about-us-card .about-texts {
    height: 50%;
  }
  .about-footer {
    margin-top: 200px;
  }
  .page-section {
    width: 100%;
  }
}

.locations-card {
  height: 350px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 70% 1fr;
  grid-template-areas: "texts map";
  gap: 30px;
}

.locations-card .location-grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.locations-card .texts {
  grid-area: texts;
  height: 100%;
  border-radius: 20px;
  background-color: #fdf3f0;
}

.locations-card .texts .card-heading {
  width: 80%;
  font-weight: bold;
  color: #E7816B;
  font-size: 40px;
}

.locations-card .texts .card-contacts {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.locations-card .texts .card-contacts .texts-heading {
  font-weight: bold;
}

.locations-card .texts .card-contacts p {
  font-size: 20px;
  margin: 10px 0;
}

.locations-card .texts .left {
  width: 45%;
}

.locations-card .texts .right {
  width: 45%;
}

.locations-card .map {
  grid-area: map;
  height: 100%;
  background-image: url("../assets/locations/tablet/image-map-canada.png");
  border-radius: 20px;
}

.australia {
  grid-template-areas: "map texts";
  grid-template-columns: 1fr 70%;
}

.uk {
  margin-bottom: 250px;
}

@media (max-width: 1150px) {
  .locations-card {
    gap: 0;
    height: 800px;
    grid-template-columns: 1fr;
    width: 85%;
    grid-template-areas: "map" "texts";
  }
  .australia {
    grid-template-areas: "texts"  "map";
    grid-template-columns: 1fr;
    height: 800px;
  }
}

@media (max-width: 700px) {
  .locations-card {
    gap: 0;
    width: 100%;
    border-radius: 0;
    grid-template-areas: "texts" "map";
  }
  .locations-card .location-grid-item {
    justify-content: space-evenly;
  }
  .locations-card .texts {
    border-radius: 0;
  }
  .locations-card .texts .left, .locations-card .texts .right {
    width: 100%;
  }
  .locations-card .texts .card-contacts {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .locations-card .texts p {
    text-align: center;
  }
  .locations-card .map {
    border-radius: 0;
  }
}

.leaflet-control-attribution .leaflet-control {
  display: none;
}

.leaflet-control-attribution {
  display: none !important;
}

.contact-section {
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: top left;
  background-image: url("../assets/home/desktop/bg-pattern-hero-home.svg");
  background-color: #E7816B;
  border-radius: 20px;
}

.contact-section .contact-container {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
}

.contact-section .contact-container .contact-texts {
  width: 40%;
  color: white;
}

.contact-section .contact-container .contact-texts h3 {
  font-size: 40px;
  margin-bottom: 20px;
}

.contact-section .contact-container .contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.contact-section .contact-container .contact-form form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-section .contact-container .contact-form form .input-field {
  width: 100%;
  position: relative;
}

.contact-section .contact-container .contact-form form .input-field .err {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-style: italic;
  color: white;
  display: none;
}

.contact-section .contact-container .contact-form form .input-field .err span {
  font-size: 12px;
}

.contact-section .contact-container .contact-form form input, .contact-section .contact-container .contact-form form textarea {
  position: relative;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  width: 100%;
  margin: 20px 0;
  padding: 5px;
}

.contact-section .contact-container .contact-form form input::placeholder, .contact-section .contact-container .contact-form form textarea::placeholder {
  color: white;
}

.contact-section .contact-container .contact-form form input:hover, .contact-section .contact-container .contact-form form textarea:hover {
  border-bottom: 2px solid white;
}

.contact-section .contact-container .contact-form form textarea {
  height: 80px;
}

.contact-section .contact-container .contact-form form textarea::placeholder {
  color: white;
}

.contact-section .contact-container .contact-form form .btn {
  height: 55px;
  margin: 0;
  font-size: 18px;
}

@media (max-width: 950px) {
  .contact-locations {
    margin-bottom: 140px;
  }
  .contact-section {
    height: auto;
  }
  .contact-section .contact-container {
    flex-direction: column;
    margin: 60px 0;
  }
  .contact-section .contact-container .contact-texts {
    width: 100%;
  }
  .contact-section .contact-container .contact-form {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .contact-section {
    border-radius: 0;
  }
}
/*# sourceMappingURL=main.css.map */