.get-in-touch{
    position: absolute;
    background-color:#E7816B;
    background-image: url("../assets/about/desktop/bg-pattern-hero-about-desktop.svg");
    background-size: 230px;
    background-position: top center;
    width: 75%;
    height: 300px;
    border-radius: 20px;
    top: -150px;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
       display: flex;
       align-items: center;
       justify-content: space-between;
        width: 90%;
        height: 90%;
        .container-texts {
            width: 50%;
            h3 {
                width: 80%;
                font-size: 40px;
                color: white;
            }
            p {
                color: white;
            }
        }
        .btn {
            height: 60px;
            margin: 0 0;
        }
    }
   
}

@media (max-width:1050px) {
   
    .get-in-touch {
        height: auto;
        max-height: 300px;
        .container {
            flex-direction: column;
            margin: 20px 0;
            .container-texts {
                width: 85%;
                p{
                    width: 100%;
    
                }
                h3 {
                    width: 100%;
                }
            }
            .btn {
                margin: 30px 0;
            }
        }
    }
   }
   //mobile 
   @media (max-width:700px) {
   .page-section {
       width: 100%
   }
   }

footer {
position: relative;
width: 100%;
min-height: 65vh;
background-color: #1d1d1f;
display: flex;
align-items: center;
flex-direction: column;
justify-content: flex-end;
  .footer-container {
    color: white;
      height: 65%;
      margin:0;
      .footer-container-top {
          display: flex;
          align-items: center;
          justify-content: space-between;
        .footer-logo {
            padding: 5px;
            img{
                width: 250px;
            }
        }
          .footer-nav {
            a {
                color: white;
                padding: 5px;
                margin: 0 5px;
                font-size: 16px;
            }
          }
      }


      .footer-container-bottom {
          border-top: 1px grey solid;
          margin-top: 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .footer-bottom-item {
                margin-top: 20px;
                width: 20%;
                
                p {
                    width: 100%;
                    margin: 10px 0;
                }
            }
            .footer-socials {
                width: 35%;
                height: 100px;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;

                img {
                    padding: 10px;
                    width: 55px;
                }
            }
    }
  }
}


   //mobile 
   @media (max-width:700px) {
    footer {
        position: relative;
        height: auto;
        .footer-container {

        
        .footer-container-top {
            margin-top: 300px;
            flex-direction: column;
            .footer-logo {
                border-bottom: 1px solid grey;
            }
            .footer-nav{
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                a {
                    margin: 0;
                    text-align: center;
                }
            }
        }
    .footer-container-bottom {
        flex-direction: column;
        border: none;

        .footer-bottom-item {
            width: 100%;
            p{
                margin: 25px 0;
               
                width: 100%;
                text-align: center;
            }
        }
        .footer-socials {
            width: 100%;
            justify-content: center;
            align-items: center;
            margin: 40px 0;
        }
    }
}
    }
   }