.contact-section {
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
    
    background-repeat: no-repeat;
    background-position: top left;
    background-image:url("../assets/home/desktop/bg-pattern-hero-home.svg");
    background-color: #E7816B;
    border-radius: 20px;
    .contact-container {
        display: flex;
        align-items: center;
        width: 90%;
        justify-content: space-between;
        .contact-texts {
            width: 40%;
            color: white;
            h3 {
                font-size:40px ;
                margin-bottom: 20px;
            }
        }
        
        .contact-form {    
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40%;
            form {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                
           .input-field {
               width: 100%;
               position: relative;
               .err {
                   position: absolute;
                   right: 0;
                   top: 50%;
                   transform: translateY(-50%);
                   font-style: italic;
                   color: white;
                   display: none;
                span {
                    font-size: 12px;
                }
               }
           }
             
                  input,textarea {
                      position: relative;
                      color: white;
                      background-color: transparent;
                      border: none;
                      outline: none;
                      border-bottom: 1px solid white;
                      width: 100%;
                      margin: 20px 0;
                      padding: 5px;
                      &::placeholder {
                          color: white;
                      }
                      &:hover {
                          border-bottom: 2px solid white;
                      }
                  }
                  textarea {
                      height: 80px;
                      &::placeholder {
                        color: white;
                    }
                  
              }
               .btn {
                   height: 55px;
                   margin: 0;
                   font-size: 18px;
               }
            }
        }
    }
}

@media (max-width:950px) {
   .contact-locations  {
       margin-bottom: 140px;
   }
    .contact-section {
        height: auto;
        .contact-container {
            flex-direction: column;
            margin: 60px 0;
            .contact-texts {
                width: 100%;
            }
            .contact-form {
                width: 100%;
            }
        }
     }


   }
   //mobile 
   @media (max-width:700px) {
    .contact-section {
        border-radius: 0;
    }
   }